{% extends 'EwaveCoreBundle::layout.html.twig' %}
{% set is_book = true %}
{% block title %}Create user {{ app.session.get('settings').separator }} {{ parent() }}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-box">
                        <h2>Create user</h2>
                        {{ form_start(form) }}
                        {{ form_errors(form) }}
                        <div class="form-group">
                            {{ form_label(form.username) }}
                            {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder': 'Enter username'} }) }}
                            {{ form_errors(form.username) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.email) }}
                            {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'Enter email'} }) }}
                            {{ form_errors(form.email) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.team) }}
                            {{ form_widget(form.team, { 'attr': {'class': 'form-control'} }) }}
                            {{ form_errors(form.team) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.roles) }}
                            {{ form_widget(form.roles) }}
                            {{ form_errors(form.roles) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.password) }}
                            {{ form_widget(form.password, { 'attr': {'class': 'form-control', 'placeholder': 'Enter password'} }) }}
                            {{ form_errors(form.password) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.password_confirm) }}
                            {{ form_widget(form.password_confirm, { 'attr': {'class': 'form-control', 'placeholder': 'Confirm password'} }) }}
                            {{ form_errors(form.password_confirm) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.enabled, 'Is Active') }}
                            {{ form_widget(form.enabled, { 'attr': {'class': 'form-control enabled'} }) }}
                        </div>
                        <div class="form-group">
                            {{ form_widget(form.submit, { 'attr': {'class': 'btn btn-success'} }) }}
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
