{% set currentRoute = app.request.attributes.get('_route') %}
<section id="col-left">
    <div class="collapse navbar-collapse navbar-ex1-collapse" id="sidebar-nav">
        <ul class="nav nav-pills nav-stacked">
            <li {% if 'ewave_control_index' in currentRoute %}class="active"{% endif %}>
                <a href="{{ path('ewave_control_index') }}">
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            {% if is_granted('ROLE_MANAGER') or is_granted('ROLE_TL') or is_granted('ROLE_ADMIN') %}
            <li {% if 'ewave_control_user' in currentRoute %}class="active"{% endif %}>
                <a href="{{ path('ewave_control_user') }}">
                    <i class="fa fa-user"></i>
                    <span>Users</span>
                </a>
            </li>
            {% endif %}
            <li {% if 'ewave_control_team' in currentRoute %}class="active"{% endif %}>
                <a href="{{ path('ewave_control_team') }}">
                    <i class="fa fa-users"></i>
                    <span>Teams</span>
                </a>
            </li>
            <li {% if 'ewave_control_project' in currentRoute %}class="active"{% endif %}>
                <a href="{{ path('ewave_control_project') }}">
                    <i class="fa fa-briefcase"></i>
                    <span>Projects</span>
                </a>
            </li>
            <li {% if 'ewave_control_history' in currentRoute %}class="active"{% endif %}>
                <a href="{{ path('ewave_control_history') }}">
                    <i class="fa fa-file-text-o"></i>
                    <span>History</span>
                </a>
            </li>
        </ul>
    </div>
</section>