{% extends 'EwaveCoreBundle::layout.html.twig' %}
{% block title %}{{ project.title }} {{ app.session.get('settings').separator }} {{ parent() }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="main-box clearfix">
                <div class="clearfix">
                    <h2 class="pull-left">{{ project.title }}</h2>
                    <div class="filter-block pull-right">
                        <a href="{{ path('ewave_control_environment_create', { 'project': project.id }) }}" class="btn btn-primary pull-right">
                            <i class="fa fa-plus-circle fa-lg"></i> Create environment
                        </a>
                    </div>
                </div>
                <div class="table-responsive">
                    {{ project.description }}
                    <br>
                    <br>
                    {% if environments|length %}
                    <div class="panel-group accordion" id="accordion">
                        {% for environment in environments %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ environment.id }}">
                                            {{ environment.type }}
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse{{ environment.id }}" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div>
                                            <a href="{{ path('ewave_control_ssh_create', { 'project': project.id, 'environment': environment.id }) }}" class="btn btn-primary">
                                                <i class="fa fa-plus-circle"></i> SSH
                                            </a>
                                            <a href="{{ path('ewave_control_mysql_create', { 'project': project.id, 'environment': environment.id }) }}" class="btn btn-primary">
                                                <i class="fa fa-plus-circle"></i> SQL
                                            </a>
                                            <a href="{{ path('ewave_control_environment_create', { 'project': project.id }) }}" class="btn btn-primary">
                                                <i class="fa fa-plus-circle"></i> Back Office
                                            </a>
                                            <a href="{{ path('ewave_control_environment_create', { 'project': project.id }) }}" class="btn btn-primary">
                                                <i class="fa fa-plus-circle"></i> HTA
                                            </a>
                                            <div class="pull-right">
                                                <a title="Edit" href="{{ path('ewave_control_environment_edit', { 'id': environment.id }) }}">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                |
                                                <a type="Delete" href="{{ path('ewave_control_environment_delete', { 'id': environment.id }) }}">
                                                    <i class="fa fa-remove"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <br>
                                        <p>{{ environment.description }}</p>
                                        {% if environment.sshs|length %}
                                            <h3>SSH:</h3>
                                            {% for ssh in environment.sshs %}
                                                <div>
                                                    <div>
                                                        <a title="Edit" href="{{ path('ewave_control_ssh_edit', { 'id': ssh.id, 'project': project.id }) }}">
                                                            <i class="fa fa-edit"></i>
                                                        </a>
                                                        |
                                                        <a type="Delete" href="{{ path('ewave_control_ssh_delete', { 'id': ssh.id, 'project': project.id }) }}">
                                                            <i class="fa fa-remove"></i>
                                                        </a>
                                                    </div>
                                                    <div>
                                                        <p><b>Server:</b> {{ decode(ssh.server) }}</p>
                                                        <p><b>Port:</b> {{ decode(ssh.port) }}</p>
                                                        <p><b>User:</b> {{ decode(ssh.user) }}</p>
                                                        <p><b>Password:</b> {{ decode(ssh.password) }}</p>
                                                        {% if ssh.description|length  %}
                                                            <p>{{ decode(ssh.description) }}</p>
                                                        {% endif %}
                                                        <br>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                        {% if environment.mysqls|length %}
                                            <h3>SQL:</h3>
                                            {% for mysql in environment.mysqls %}
                                                <div>
                                                    <div>
                                                        <a title="Edit" href="{{ path('ewave_control_mysql_edit', { 'id': mysql.id, 'project': project.id }) }}">
                                                            <i class="fa fa-edit"></i>
                                                        </a>
                                                        |
                                                        <a type="Delete" href="{{ path('ewave_control_mysql_delete', { 'id': mysql.id, 'project': project.id }) }}">
                                                            <i class="fa fa-remove"></i>
                                                        </a>
                                                    </div>
                                                    <div>
                                                        <p><b>Server:</b> {{ decode(mysql.server) }}</p>
                                                        <p><b>Port:</b> {{ decode(mysql.port) }}</p>
                                                        <p><b>User:</b> {{ decode(mysql.user) }}</p>
                                                        <p><b>Password:</b> {{ decode(mysql.password) }}</p>
                                                        <p><b>Database:</b> {{ decode(mysql.dbname) }}</p>
                                                        <br>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}