{% extends 'VilkaCoreBundle::layout.html.twig' %}
{% block title %}Настройки {{ app.session.get('settings').separator }} {{ parent() }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="main-box">
                <h2>Каталог</h2>
                <form action="" method="post" name="vilka_corebundle_catalog">
                    <div class="form-group">
                        <label class="required">Источник</label>
                        <select class="form-control" onchange="location.href = this.value;" required="required" name="platform">
                            <option value="{{ path('vilka_control_catalog') }}">Выберите источник</option>
                            {% for platform in platforms %}
                                <option {% if (app.request.get('platform') == platform) %}selected="selected" {% endif %} value="{{ path('vilka_control_catalog', { 'platform': platform }) }}">{{ platform }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% if all_offers|length %}
                        <div class="form-group">
                            <label class="required">Магазины</label>
                            {% for offer in all_offers %}
                                <label class="col-sm-4">
                                    <input type="checkbox" name="offers[]" value="{{ offer.offer }}"> {{ offer.offer|replace({'&quot;': '"'}) }}
                                </label>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            &nbsp;
                        </div>
                    {% endif %}
                    {% if all_categories|length %}
                        <div class="form-group">
                            <label class="required">Категории</label>
                            {% for category in all_categories %}
                                <label class="col-sm-4">
                                    <input type="checkbox" name="categories[]" value="{{ category.category }}"> {{ category.category|replace({'&quot;': '"'}) }}
                                </label>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            &nbsp;
                        </div>
                    {% endif %}
                    <div class="form-group">
                        {% if (app.request.get('platform')) %}
                            <button class="btn btn-success" name="export" type="submit">Выгрузить</button>
                        {% else %}
                            <button class="btn btn-success" name="submit" type="submit">Далее</button>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}