{% extends 'EwaveCoreBundle::layout.html.twig' %}

{% block title %}Login {{ app.session.get('settings').separator }} {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div id="login-box">
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="login-box-inner">
                                <div id="login-logo">
                                    <img src="{{ asset('bundles/ewavecore/img/logo.gif') }}" alt=""/>
                                </div>

                                {% if error %}
                                    <div class="error">{{ error.message|trans  }}</div>
                                {% endif %}

                                <form action="{{ path('_security_check') }}" method="POST">

                                    <div class="input-group input-group-lg">
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                        <input class="form-control" type="email" placeholder="Username" id="username" name="_username" value=""/>
                                    </div>
                                    <div class="input-group input-group-lg">
                                        <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                        <input type="password" id="password" name="_password" class="form-control" placeholder="Password"/>
                                    </div>
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label><input type="checkbox" id="remember_me" name="_remember_me"> Remember me</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12 col-sm-push-6">
                                            <button type="submit" name="login" class="btn btn-success col-xs-12">Login</button>
                                        </div>
                                        {#<a href="#" id="login-forget-link" class="col-sm-6 col-xs-12 col-sm-pull-6">#}
                                            {#Забыл пароль?#}
                                        {#</a>#}
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        body{background: #eee;}
    </style>
{% endblock %}