{% extends 'VilkaCoreBundle::layout.html.twig' %}
{% set is_book = true %}
{% block title %}Создание настройки{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-box">
                        <h2>Создание настройки</h2>
                        {{ form_start(form) }}
                        <div class="errors">{{ form_errors(form) }}</div>
                        {{ form_widget(form._token) }}
                        <div class="form-group">
                            {{ form_label(form.name, 'Идентификатор') }}
                            {{ form_widget(form.name, { 'attr': {'class': 'form-control', 'placeholder': 'Введите идентификатор'} }) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.value, 'Значение') }}
                            {{ form_widget(form.value, { 'attr': {'class': 'form-control', 'placeholder': 'Введите значение'} }) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.description, 'Описание') }}
                            {{ form_widget(form.description, { 'attr': {'class': 'form-control', 'placeholder': 'Описание'} }) }}
                        </div>
                        <div class="form-group">
                            {{ form_widget(form.submit, { 'attr': {'class': 'btn btn-success'} }) }}
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
