{% extends 'VilkaCoreBundle::layout.html.twig' %}
{% block title %}Пользователи {{ app.session.get('settings').separator }} {{ parent() }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="main-box clearfix">
                <div class="clearfix">
                    <h2 class="pull-left">Пользователи
                    {% set lastItem = page*limit > count ? count : page*limit %}
                        <small>
                            {% if (entities) %} {{ (page-1)*limit+1 }} - {{ lastItem }} | {{ count }}{% endif %}
                        </small>
                    </h2>
                    <div class="filter-block pull-right">
                        <div class="form-group pull-left">
                            {{ form_start(form) }}
                                {{ form_widget(form._token) }}
                                {{ form_widget(form.search) }}
                                <i class="fa fa-search search-icon"></i>
                            {{ form_end(form) }}
                        </div>
                        <a href="{{ path('vilka_control_setting_create') }}" class="btn btn-primary pull-right">
                            <i class="fa fa-plus-circle fa-lg"></i> Добавить пользователя
                        </a>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>
                                    <a href="#">
                                        <span class="id">ID</span>
                                    </a>
                                </th>
                                <th>
                                    <a href="#">
                                        <span class="username">Username</span>
                                    </a>
                                </th>
                                <th>
                                    <a href="#">
                                        <span class="email">Email</span>
                                    </a>
                                </th>
                                <th>
                                    <a href="#">
                                        <span class="lastLogin">Last Login</span>
                                    </a>
                                </th>
                                <th>
                                    <span>Roles</span>
                                </th>
                                <th><span></span></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities %}
                            <tr>
                                <td>
                                    # {{ entity.id }}
                                </td>
                                <td>
                                    {{ entity.username }}
                                </td>
                                <td>{{ entity.email }}</td>
                                <td>{{ entity.lastLogin|date('Y-m-d H:i:s') }}</td>
                                <td>{% for role in entity.roles %}
                                        {{ role }}
                                    {% endfor %}
                                </td>
                                <td class="text-right table-controls">
                                    <span>
                                        <a href="{{ path('vilka_control_setting_edit', { 'id': entity.id }) }}"><i class="fa fa-edit"></i></a>
                                    </span>
                                    <span>
                                        <a href="{{ path('vilka_control_setting_delete', { 'id': entity.id }) }}"><i class="fa fa-remove"></i></a>
                                    </span>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% include 'VilkaCoreBundle:_partials:pager.html.twig' %}
            </div>
        </div>
    </div>
    {% endblock %}